<ion-content>
  <div class="bottom-position">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size-lg="2" size-md="4" size-xs="6">
          <ion-button  mode="ios" expand="outline" color="dark"  [routerLink]="['/login']">
           حساب دارم
          </ion-button>
        </ion-col>
        <ion-col  size-lg="2" size-md="4" size-xs="6">
          <ion-button mode="ios" color="dark" [routerLink]="['/register']">
            ثبت نام
           </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
