ion-toolbar {
    --background: none;
}

ion-list {
    background: none;
}
ion-item {
    --background: none
}

ion-col {
    padding: 0 5px 0 5px;
}

* {
    font-size: small;
}

ion-thumbnail {
    --size: 100%;
}