ion-toolbar {
  --background: var(--ion-background-color);
}

ion-grid {
  text-align: center;
}

ion-button {
  --border-radius: 0 0 20px 20px;
}

.card-body {
  display: flex;
  padding: 15px 5px 10px 5px;
  justify-content: space-around;
}

.card {
  background: #2c2b2b;
  border-radius: 20px;
  margin: 5px 10px;
}

.card-header {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 5px 0 5px;
}

.text-size-big {
  font-size: 20px;
}

.line {
  width: 90%;
  height: 1.4px;
  margin: auto;
  background: var(--ion-color-light);
}
