<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- TODO: dynamic categories -->
  <ion-segment
    class="ion-padding"
    value="pizza"
    (ionChange)="segmentChanged($event)"
    scrollable
  >
    <ion-segment-button value="pizza">
      <ion-label>صرافی ایرانی</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pizza1">
      <ion-label>بایننس</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pizza532">
      <ion-label>بیت پین</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pizz523a">
      <ion-label>کوکوین</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pizz632a">
      <ion-label>ارزدیجیتال</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pizz61a">
      <ion-label>بیت کوین</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past7561a">
      <ion-label>سلام</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div class="ion-margin" *ngIf="!isLoading">
    <ion-slides #slides [options]="slideOpts" (ionSlideWillChange)="ionSlideDrag($event)" [scrollbar]="null" class="ion-margin-horizontal">
      <!-- Three last news -->
      <ion-slide *ngFor="let item of threeLastNews" class="ion-padding">
        <div class="container">
          <img class="news-image" [src]="BASE_URL + item.img" />
          <div class="bottom">
            <ion-label class="title">{{ item.title }}</ion-label>
            <ion-label class="time">{{ item.updated_time }}</ion-label>
          </div>
        </div>
      </ion-slide>      
    </ion-slides>


    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" offset="3" class="pager-container">
          <div class="pager" [ngClass]="{'pager-active': activeSliderIndex === 0, '': activeSliderIndex !== 0}"></div>
          <div class="pager" [ngClass]="{'pager-active': activeSliderIndex === 1, '': activeSliderIndex !== 1}"></div>
          <div class="pager" [ngClass]="{'pager-active': activeSliderIndex === 2, '': activeSliderIndex !== 2}"></div>
          
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-list-header class="ion-margin-top">
      <ion-text>
        <h5>آخرین اخبار</h5>
      </ion-text>
    </ion-list-header>

    <app-news-component
      *ngFor="let item of news"
      [clickable]="true"
      [news]="item"
    ></app-news-component>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>
</ion-content>
