<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="ion-text-center" *ngIf="isLoadingCategories">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  <ion-segment class="ion-padding" value="all" (ionChange)="segmentChanged($event)" *ngIf="!isLoadingCategories">
    <ion-segment-button value="all">
      <ion-label>همه اخبار</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngFor="let category of newsCategories" [value]="category.slug">
      <ion-label>{{ category.title }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div *ngIf="threeLastNews">
    <ion-slides #slides [scrollbar]="null" class="ion-margin-horizontal">
      <!-- Three last news -->
      <ion-slide *ngFor="let item of threeLastNews" class="ion-padding" (click)="moveToDetailNew(item.title)">
        <div class="container">
          <img class="news-image" [src]="item.img" />
          <div class="bottom">
            <ion-label class="title">{{ item.title }}</ion-label>
            <ion-label class="time">{{ item.updated_time }}</ion-label>
          </div>
        </div>
      </ion-slide>
    </ion-slides>


    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" offset="3" class="pager-container">
          <div class="pager" [ngClass]="{'pager-active': activeSliderIndex === 0, '': activeSliderIndex !== 0}"></div>
          <div class="pager" [ngClass]="{'pager-active': activeSliderIndex === 1, '': activeSliderIndex !== 1}"></div>
          <div class="pager" [ngClass]="{'pager-active': activeSliderIndex === 2, '': activeSliderIndex !== 2}"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="ion-margin" *ngIf="!isLoading">
    <ion-list-header class="ion-margin-top">
      <ion-text>
        <h5>آخرین اخبار</h5>
      </ion-text>
    </ion-list-header>

    <app-news-component
      *ngFor="let item of news"
      [news]="item"
    ></app-news-component>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>
</ion-content>
