<ion-header class="ion-no-border ion-padding" *ngIf="user">
  <ion-toolbar *ngIf="isSearchBarActive">
    <ion-searchbar
      class="ion-margin-top"
      placeholder="نماد ارز مورد نظر"
      mode="ios"
      inputmode="decimal"
      type="decimal"
      [(ngModel)]="coinSymbol"
      (ionCancel)="activeSearchBar()"
      (keyup.enter)="onSearchCoinForShowChart()"
      [debounce]="250"
      showCancelButton="always"
    ></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar *ngIf="!isSearchBarActive">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs', 'account']">
        <ion-icon slot="end" color="primary" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title color="medium" class="text-small"
      >{{ getUserFirstName() }} جان خوش آمدی</ion-title
    >

    <ion-buttons slot="start">
      <ion-button (click)="activeSearchBar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">


  <!-- STORIES -->
  <ion-slides [options]="storySlideOpts" class="ion-padding-horizontal">
    <ion-slide *ngFor="let story of stories">
      <app-story [story]="story"></app-story>
    </ion-slide>
  </ion-slides>
  <!-- STORIES -->


  <!-- SPECIAL ACCOUNT ITEMS -->
  <ion-slides
    class="ion-no-margin"
    mode="ios"
    [pager]="false"
    [options]="slideOpts"
    [scrollbar]="false"
  >
    <ion-slide class="ion-padding-top" *ngFor="let item of specialAccountItems">
      <app-royal-account [item]="item"></app-royal-account>
    </ion-slide>
  </ion-slides>
  <!-- SPECIAL ACCOUNT ITEMS -->


  <!-- TOOLS -->
  <ion-grid>
    <ion-row>
      <div class="box-container ion-margin-top">
        <a href="https://coinmarketcap.com" target="_blank">
          <div class="box">
            <img
              src="/assets/pages/tabs/home/coinmarketcap.png"
              class="box-img"
              alt="coinmarketcap"
            />
            <p class="box-text">CoinMarketCap</p>
          </div>
        </a>
        <div class="box" [routerLink]="['/market-view']">
          <img
            src="/assets/pages/tabs/home/market-view.png"
            class="box-img"
            alt="coinmarketcap"
          />
          <p class="box-text">نمای بازار</p>
        </div>
        <div class="box" (click)="openFearAndGreedModal()">
          <img
            src="/assets/pages/tabs/home/fear-and-greed.png"
            class="box-img"
            alt="coinmarketcap"
          />
          <p class="box-text">ترس و طمع</p>
        </div>
      </div>
    </ion-row>
  </ion-grid>
  <!-- TOOLS -->

  <!-- SERVICES -->
  <ion-grid>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="12">
        <ion-text>سرویس ها</ion-text>
      </ion-col>
      <ion-col *ngFor="let service of services" [size]="service.col" [routerLink]="service.route">
        <ion-img [src]="service.src"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- SERVICES -->

  <!-- NEWS -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-margin-start">
        <ion-text>آخرین اخبار</ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-slides [options]="slideOpts">
          <ion-slide *ngFor="let item of news">
            <app-news-component
            class="ion-text-start"
              class="full-width"
              [news]="item"
            ></app-news-component>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- NEWS -->

  <!-- BANNERS -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-padding-horizontal">
        <ion-slides class="ion-margin-top" [options]="slideOpts">
          <ion-slide *ngFor="let banner of banners">
            <a [href]="banner.link" target="_blank">
              <ion-img [src]="banner.img"></ion-img>
            </a>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- BANNERS -->

  <!-- SIGNAL -->
  <ion-grid>
    <ion-row class="ion-margin">
      <ion-col size="12" class="ion-margin-bottom">
        <ion-label>پیشنهادات خرید</ion-label>
      </ion-col>
      <ion-col size="6" class="text-medium-size">
        <div class="profit-box">
          <ion-label>سود ماهانه</ion-label>
          <ion-label color="success"
            >{{ generalStats.profit_of_signal_amount | number:'1.0-0'}}%</ion-label
          >
        </div>
      </ion-col>
      <ion-col size="6" class="text-medium-size">
        <div class="profit-box">
          <ion-label>سود هفتگی</ion-label>
          <ion-label color="success"
            >{{ generalStats.profit_of_signal_amount_weekly | number:'1.0-0'}}%</ion-label
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- SIGNAL -->

</ion-content>

<ion-content *ngIf="isLoading">
  <app-loading></app-loading>
</ion-content>
