<ion-grid>
  <form [formGroup]='loginForm' (ngSubmit)="onLoginUser()" *ngIf="loginForm">
    <ion-row>
      <ion-col size="10" offset="1" class="ion-no-margin">
        <ion-input formControlName="phoneNumber" placeholder="شماره همراه خود را وارد کنید"></ion-input>
      </ion-col>
      <ion-col size="12">
        <div *ngIf="loginForm.controls.phoneNumber.touched">
          <ion-text *ngIf="loginForm.controls.phoneNumber.errors?.required" color="danger">این فیلد لازم است</ion-text>
          <br *ngIf="loginForm.controls.phoneNumber.errors?.required">
          <ion-text *ngIf="loginForm.controls.phoneNumber.value?.length !== 11" color="danger">شماره تلفن باید 11 کاراکتر باشد</ion-text>
        </div>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-input type="password" formControlName="password" placeholder="رمز عبور خود را وارد کنید"></ion-input>
      </ion-col>
      
      <ion-col size="12">
        <div *ngIf="loginForm.controls.password.touched">
          <ion-text *ngIf="loginForm.controls.password.errors?.required" color="danger">این فیلد لازم است</ion-text>
        </div>
        <div *ngIf="loginForm.controls.password.touched">
          <ion-text *ngIf="loginForm.controls.password.errors?.pattern" color="danger">رمز عبور نم‌یتواند کاراکتر هایی غیر از انگلیسی داشته باشد</ion-text>
        </div>
      </ion-col>
      <ion-col size="6" class="ion-text-center ion-margin-top" (click)="moveToForgotPassPage()">
        <ion-text>
          فراموشی رمز عبور
        </ion-text>
      </ion-col>
      <ion-col size="6" class="ion-text-center ion-margin-top">
        <ion-text (click)="moveToRegisterPage()">
          ساخت حساب کاربری
        </ion-text>
      </ion-col>
      <ion-col size="10" offset="1" class="ion-margin-top">
        <ion-button type="submit" [disabled]="loginForm.invalid || loginForm.controls.phoneNumber.value?.length !== 11" mode="ios" expand="block">
          ورود به حساب کاربری
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>