<ion-grid>
  <form [formGroup]='loginForm' (ngSubmit)="onLoginUser()" *ngIf="loginForm">
    <ion-row>
      <ion-col size="11" offset="0.5" class="ion-no-margin">
        <ion-input formControlName="phoneNumber" placeholder="شماره همراه خود را وارد کنید"></ion-input>
      </ion-col>
      <ion-col size="11" offset="0.5">
        <div *ngIf="loginForm.controls.phoneNumber.touched">
          <ion-text *ngIf="loginForm.controls.phoneNumber.errors?.required" color="danger">این فیلد لازم است</ion-text>
          <br *ngIf="loginForm.controls.phoneNumber.errors?.required">
          <ion-text *ngIf="loginForm.controls.phoneNumber.value?.length !== 11" color="danger">شماره تلفن باید 11 کاراکتر باشد</ion-text>
        </div>
      </ion-col>

      <ion-col size="11" offset="0.5" class="ion-margin-top">
        <ion-input type="password" formControlName="password" placeholder="رمز عبور خود را وارد کنید"></ion-input>
      </ion-col>
      
      <!-- Errors -->
      <ion-col size="11" offset="0.5">
        <div *ngIf="loginForm.controls.password.touched">
          <ion-text *ngIf="loginForm.controls.password.errors?.required" color="danger">این فیلد لازم است</ion-text>
        </div>
        <div *ngIf="loginForm.controls.password.touched">
          <ion-text *ngIf="loginForm.controls.password.errors?.pattern" color="danger">رمز عبور نم‌یتواند کاراکتر هایی غیر از انگلیسی داشته باشد</ion-text>
        </div>
      </ion-col>

      <ion-col size="11" offset="0.5" class="ion-no-margin ion-margin-top">
        <ion-button type="submit" [disabled]="loginForm.invalid || loginForm.controls.phoneNumber.value?.length !== 11" mode="ios" expand="block">
          ورود به حساب کاربری
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  
  <div class="other-login-option">
    <div class="line"></div>
    <ion-label color="medium" class="ion-margin-horizontal">یا</ion-label>
    <div class="line"></div>
  </div>
  <div class="ion-margin-top ion-text-center"  (click)="setLoginWithPhoneNumberMode()">
    <ion-label class="text-small" color="primary">ورود از طریق شماره تلفن</ion-label>
  </div>
</ion-grid>