<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCloseModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="copyTradeAPIsForm">
    <ion-grid>
      <ion-row>
        <!-- Futures -->
        <ion-col size="12">
          <ion-item-divider>
            <ion-label>فیوچرز</ion-label>
          </ion-item-divider>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">API Key</ion-label>
            <ion-input type="text" formControlName="futuresAPIKey"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Secret</ion-label>
            <ion-input type="text" formControlName="futuresSecret"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Passphrase</ion-label>
            <ion-input type="text" formControlName="futuresPassphrase"></ion-input>
          </ion-item>
        </ion-col>

        <!-- Spot -->
        <ion-col size="12">
          <ion-item-divider>
            <ion-label>اسپات</ion-label>
          </ion-item-divider>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">API Key</ion-label>
            <ion-input type="text" formControlName="spotAPIKey"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Secret</ion-label>
            <ion-input type="text" formControlName="spotSecret"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Passphrase</ion-label>
            <ion-input type="text" formControlName="spotPassphrase"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-button (click)="onCheckAPIs()" mode='ios' expand="block" [disabled]='copyTradeAPIsForm.invalid'>
            بررسی اتصال
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>