ion-item {
    --background: none;
    --border-color: var(--ion-color-primary);
    text-align: center;
    font-size: 15px;
}

ion-input {
    font-size: 12px;
}

ion-button {
    font-size: 14px;
}

.text-bold {
    font-weight: bold;
    font-size: 18px;
}

.text-small {
    font-size: 13px;
}

.bottom-position {
    position: absolute;
    bottom: 15%;
    width: 100%;
}

.error {
    font-size: 11px;
}