ion-card {
    margin: 0 0 10px 0;
    --background: #3C3C3C;
    height: 100%;
    width: 100%;
}

ion-card-header {
    padding: 10px 20px 5px 20px;
}

ion-card-title  {
    font-size: 20px;
}

ion-card-content {
    display: inline;
}

.text-small {
    font-size: 12px;
}