<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>پیام ها</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" *ngFor="let message of messages">
        <ion-card mode='ios'>
          <ion-card-header>
            <ion-card-subtitle>عنوان: {{ message.title}}</ion-card-subtitle>
            <ion-card-content>
              توضیحات: {{ message.description }}
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-loading *ngIf="isLoading"></app-loading>
</ion-content>
