<ion-grid fixed>
  <form [formGroup]="loginForm">
    <ion-row>
      <ion-col size="11" offset="0.5" class="ion-margin-top">
        <ion-grid class="ion-margin-bottom">
          <ion-row>
            <ion-col size="8">
              <ion-label color="primary">شماره تلفن خود را وارد کنید</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-input class="text-bold dir-ltr" placeholder="09123456789"
        formControlName="phoneNumber" 
        [maxlength]="11" type="text"></ion-input>
      </ion-col>
      <ion-col size="11" offset="0.5">
        <div *ngIf="loginForm.controls.phoneNumber.touched">
          <ion-text color="danger" *ngIf="loginForm.controls.phoneNumber.errors?.required">این فیلد لازم است.</ion-text>
          <br *ngIf="loginForm.controls.phoneNumber.errors?.required">
          <ion-text color="danger" *ngIf="loginForm.controls.phoneNumber.value?.length !== 11">
            شماره تلفن باید 11 کاراکتر باشد.
          </ion-text>
          <br *ngIf="loginForm.controls.phoneNumber.value?.length !== 11">
          <ion-text color="danger" *ngIf="loginForm.controls.phoneNumber.errors?.pattern">
            این فیلد باید عدد باشد.
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="11" offset="0.5" class="ion-no-margin">
        <ion-button (click)="sendVerification()"
          [disabled]="loginForm.invalid || loginForm.controls.phoneNumber.value?.length !== 11"
          mode="ios" expand="block"
          class="ion-no-margin ion-margin-top">
          دریافت کد
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <div class="other-login-option">
    <div class="line"></div>
    <ion-label color="medium" class="ion-margin-horizontal">یا</ion-label>
    <div class="line"></div>
  </div>
  <div class="ion-margin-top ion-text-center"  (click)="setLoginWithPasswordMode()">
    <ion-label class="text-small" color="primary">ورود از طریق رمز عبور</ion-label>
  </div>

</ion-grid>