ion-input {
    background-color: var(--ion-color-light);
    color: var(--ion-color-dark);
    border-radius: 8px;
}


ion-text {
    font-size: 12px !important;
}

* {
    font-size: 17px;
}

.text-bold {
    font-weight: bold;
}

.no-background {
    --background: none;
}

ion-label {
    font-size: 15px;
}

.text-small {
    font-size: 10px;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .text-small {
        font-size: 10px;
    }
}

@media screen and (min-width: 576px) {
    .text-small {
        font-size: 1rem;
    }
}

