<ion-content>
  <ion-list class="content">
    <ion-item (click)="nagication('/copy-trade')" lines='none' class="mb-20" detail>
      <ion-icon slot="start" name="rocket-outline"></ion-icon>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding" size="12">
            <ion-label>کپی ترید</ion-label>
          </ion-col>
          <ion-col class="ion-no-padding" size="12">
            <ion-label class="description">ربات هوشمند معامله گر</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item (click)="nagication('/signals', true)" lines='none' class="mb-20" detail>
      <ion-icon slot="start" name="analytics"></ion-icon>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding" size="12">
            <ion-label>پیشنهادات خرید</ion-label>
          </ion-col>
          <ion-col class="ion-no-padding" size="12">
            <ion-label class="description">سیگنال های خرید و فروش</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item (click)="nagication('/news')" lines='none' class="mb-20" detail>
      <ion-icon slot="start" name="newspaper-outline"></ion-icon>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding" size="12">
            <ion-label>اخبار فاندامنتال</ion-label>
          </ion-col>
          <ion-col class="ion-no-padding" size="12">
            <ion-label class="description">خبرسانی فوری و زنده کریپتو</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item (click)="nagication('/education')" lines='none' detail>
      <ion-icon slot="start" name="school-outline"></ion-icon>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding" size="12">
            <ion-label>آموزش</ion-label>
          </ion-col>
          <ion-col class="ion-no-padding" size="12">
            <ion-label class="description">گام به گام مقدماتی کریپتو با اساتید</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-list>
    <ion-item (click)="onDismissModal()" lines='none' class="ion-text-center">
      <ion-icon class="ion-no-margin" slot="start" name="close-outline"></ion-icon>
      <ion-label>بستن</ion-label>
    </ion-item>
  </ion-list>
</ion-footer>
